---
# bootstrap_python_on_OpenWRT/tasks/main.yml

#
# update opkg cache
#

- name: 'Run opkg update'
  ansible.builtin.raw: '/bin/opkg update'
  args:
    executable: '/bin/ash'
  changed_when: 'false'

#
# python3-light installation to save space
#
- name: Run tasks from python3_light_installation.yml
  ansible.builtin.import_tasks: python3_light_installation.yml
  when:
    - save_space_with_python3_light | bool

#
# system packages
#
- name: Run tasks from shadow_utilities.yml
  ansible.builtin.import_tasks: shadow_utilities.yml
